body {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Cinzel', serif;
  background-color: rgba(255, 144, 0, .3);
  margin: 0;
  padding: 0;
  width: 100%;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

  .navBar {
  display: flex;
  height: 64px;
  width: auto;
  z-index: 10;
  background-color: silver;
  position: fixed;
  top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid cornsilk;
  border-bottom: solid cornsilk;
  border-right: solid cornsilk;
  right: 0px;
  left: 0px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}

.navBar a {
  display: flex;
  text-decoration: none;
}

.logo {
  display: flex;
  align-self: center;
}

.logo h1 {
  align-self: center;
  font-size: 2em;
  font-weight: bold;
}

.logo h1 {
  text-shadow: 2px 2px 2px white;
  color: black;
  opacity: 0.7;
  padding-right: 6px;
}

.sectionOne {
  display: inline-block;
  flex-direction: row;
  background-color:rgba(97, 209, 97, 0.7);
  padding-top: 64px;
  height: 700px;

}

.sectionOne img {
  display: inline-block;
  max-width: 60%;
  max-height: 100%;
  margin: 32px 24px 32px 24px;
  border-radius: 10px;
  border: solid 2px cornsilk;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
}

.sectionOneContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  color: cornsilk;
  text-shadow: 2px 2px 4px black;
}

.sectionOneContent h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sectionOneContent p {
    text-align: center;
}

.sectionOneContent div {
  font-size: 0.8rem;
  background-color: gray;
  justify-content: center;
  text-align: center;
  padding: 8px 0px;
  border-radius: 10px;
  border: solid 2px white;
  font-size: 25px;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
  border-radius: 10px;
}
